name: Fetch Market Data

on:
  schedule:
    # 03:46–03:59 UTC (9:16–9:29 IST), every minute
    - cron: '46-59 3 * * 1-5'
    # 04:00–09:59 UTC (10:00–15:29 IST), every minute
    - cron: '* 4-9 * * 1-5'
    # 10:00 UTC (15:30 IST), only once
    - cron: '0 10 * * 1-5'
  workflow_dispatch:

jobs:
  fetch-data:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Market Price API
        run: |
          curl -X GET https://stock-market-data-analysis.vercel.app/api/fetching_data/market_prices
      - name: Trigger Option Chain API
        run: |
          curl -X GET https://stock-market-data-analysis.vercel.app/api/fetching_data/option_chains
